<!DOCTYPE html>
<html>
  <head>
    <title>Create a project</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  </head>
  <body>
    <!-- beginning of search form -->
    <div class="search">
      <%= form_tag search_path, method: "get", class: "navbar-form navbar-left" do |f| %>
        <%= text_field_tag :term, params[:term],placeholder:"Where do you wanna go?" %>
        <%= submit_tag 'search', class: 'btn btn-primary' %>
        <!-- end of search form -->
      <% end %>
      <!-- end of search div -->
    </div>
    <nav class="navbar navbar-default"
<div id="container">
      <%= link_to "Checklist", root_path, class: "navbar_brand" %>
      <div id="user_header">
        <% if user_signed_in? %>
          <%= link_to 'Logout', logout_path %>
        <% else %>
          <%= link_to "Sign Up", signup_path %>
          <%= link_to "Log In", login_path %>
          <%= link_to "Sign in with Facebook", "/auth/facebook" %>
        <% end %>
      </div>
    </div>
    <div id="user-widget">
      <% if current_user %>
        Welcome <strong><%= current_user.name %></strong>!
      <% else %>
      <div id="flash">
        <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
        <% end %>
      </div>
      <% end %>
    </div>
  </nav>
  <div class="container">
    <%= yield %>
  </div>
  <script src="app.js"></script>
</body>
</html>
